<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Southern Willamette Valley Disc Golf Guide</title>
<style>
    #map {
     height: 100%;
    }
 </style>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

<script
src="https://maps.googleapis.com/maps/api/js?key={{g.mapkey}}">
</script>

</head>

    <body>

        <div class="container">

            <div id="map"></div>

        </div> 


<script type="text/javascript">
var disc_icon = {
    url: "https://d30y9cdsu7xlg0.cloudfront.net/png/30755-200.png", // url
    scaledSize: new google.maps.Size(50, 50), // scaled size
    origin: new google.maps.Point(0,0), // origin
    anchor: new google.maps.Point(0, 0) // anchor
};

$(document).ready(function() { //When page is finished loading, initialize map
    initMap();
});

//This function places a marker at the given location on the given map
//Also creates a content box which can is displayed when the user clicks on the marker

function placeDiscMarker(location, map, description) {
    var marker = new google.maps.Marker({
        position: location,
        map: map,
        icon: disc_icon
    });
    
    var infowindow = new google.maps.InfoWindow({
            content: description,
            maxWidth: 400
    });

    marker.addListener('click', function () {
            infowindow.open(map, marker);
    });
}
function placeMarker(location, map, description) {
    var marker = new google.maps.Marker({
        position: location,
        map: map
    });
    
    var infowindow = new google.maps.InfoWindow({
            content: description,
            maxWidth: 400
    });

    marker.addListener('click', function () {
            infowindow.open(map, marker);
    });
}

function placeMarkerAndPanTo(latLng, map) {
    placeMarker(latLng, map);
    map.panTo(latLng);
}

//Initializes the map and places a marker at each of the POIs
function initMap() {
  var location = new google.maps.LatLng(44.052069, -123.086754);

  var mapCanvas = document.getElementById('map');
  var mapOptions = {
    center: location,
    zoom: 14,
    panControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(mapCanvas, mapOptions);

  //Add listener event for user click
  map.addListener('click', function(e) {
    placeMarkerAndPanTo(e.latLng, map);
  });

  //Add POI markers using Jinja2
  {% for item in g.POI_locations %}
    {% for k, v1 in item.items() %}
        var name = {{ k|tojson }}
        var latlng = {{ v1|tojson }}
        var lat = latlng[0];
        var long = latlng[1];
        var location = new google.maps.LatLng(lat, long);
        var disc_golf = true;
        placeDiscMarker(location, map, name, disc_golf);
    {% endfor %}
  {% endfor %}
}
		
		
</script>

    </body>
</html>
